* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
}

body {
  background-image: url('../public/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  padding: 2rem;
  height: 100vh;
}

p { text-align: center; }

a { text-decoration: none; }